ul, ol {
  list-style: none;
}

img.main {
  height: auto;
  width: 100%;
}

html {
  background-color: #7193BC;
  overflow-x: hidden;
}

header {
  background-color: #fff;
  border-bottom: solid 4px black;
}

header img {
  max-width: 60rem;
  margin-bottom: 1em;
}

nav.main {
  margin-left: 1em;
  height: 40px;
  margin-bottom: 1em;
}

nav.main a {
  display: inline-block;
  padding: 0;
  height: 100%;
}

nav.main img {
  height: 100%;
}

nav.main img {
  border: solid 2px black;
  border-top: none;
  border-left: none;
}


nav.main a:first-of-type img {
  border-left: solid 2px black;
}


div.people {
  width: 70%;
  margin: auto;
}

.people img {
  width: 100%;
  margin: auto;
}

ul.hairstyles {
  overflow-x: scroll;
  overflow-y: scroll;
  width: 90%;
  height: 100px;
  margin: auto;
  white-space: nowrap;
  margin-bottom: 1.5em;
}

ul.hairstyles li {
  list-style: none;
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-right: .5em;
}

ul.hairstyles li a {
  display: inline-block;
  width: 100%;
  height: 100%; 
}


ul.hairstyles li img {
  width: 100%;
  overflow: hidden;
}

div.tryer {
  height: 350px;
  width: 350px;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.5em;
}

div#webcam,
div.tryer__image {
  position: absolute;
  width: 100%;
  height: 100%;
}

div#webcam {
  width: 467px;
  height: 350px;
  margin-left: -56px;
}

div.tryer__image {
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}


#map-canvas {
  height: 30vh;
}